{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article Body</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/article_body.css' %}">
  </head>
  
  
<body>      
<div class="article">
    <img src="image_source/fifa1.png" id="article-main-img">
    
    <div class="ads column" id="left-row">
        <img src="image_source/ad1.png" >
        <img src="image_source/ad2.png">
    
    </div>
    
    
    <div class="article-container column">
        <h1 class="article-title">តំណាង FIFA ដែលដង្ហែពាន World Cup មកកម្ពុជា ក៏ធ្លាប់ជួយបារាំងឈ្នះពានពិភពលោកនេះដែរ ក្នុងឆ្នាំ១៩៩៨</h1>
        <div class="article_descript">
                    <p class="article_topic">កីឡា</p>
                    <p class="article_date">១២/០៦/២០២២</p>
                </div>
        <hr>
    
      <section class="article-body">
        <p>Christian ដែលមានបច្ចុប្បន្នមានវ័យ ៥១ឆ្នាំជាអតីតខ្សែការពារដែនបានជួយក្រុមមាន់គកបារាំងបំបែកកំណត់ត្រាពិភព លោកតាមរយៈឈ្នះជើងឯក World Cup 1998 ក្នុងទឹកដីរបស់ខ្លួន ក្រោយបំបាក់គូប្រជែងសាំបាប្រេស៊ីល ក្នុងលទ្ធផល ៣ទល់នឹង០ នៅវគ្គផ្តាច់ព្រ័ត្រជាមួយអតីតមិត្តរួមក្រុម Zinedine Zidane។ ក្រោយមក ២ឆ្នាំ លោក Christian Karembeu ក៏បន្តជួយមាន់គកបារាំងឈ្នះជើងឯកពានរង្វាន់ជើងឯកប្រចាំទ្វីបអឺរ៉ុប UEFA Euro បន្ទាប់ពីយកឈ្នះគូប្រជែងអាសូរីអ៉ីតាលីវគ្គផ្តាច់ព្រ័ត្រ នៅពេលប៊ែលហ្សិក និងហូឡង់ធ្វើសហម្ចាស់ផ្ទះ និងពានអន្តរទ្វីប FIFA Confederations Cup 2001 ជាមួយបារាំងទៀតដែរ នៅក្នុងពេលបង្ហាញខ្លួនសរុបចំនួន ៥៣ប្រកួត និងរកបាន ១គ្រាប់នៅពេលមាន់គកបំបាក់រ៉ូម៉ានី ៣ទល់នឹង១។</p>
          
        <img src="image_source/fifa2.png" class="in-article-img">
        <p>Christian ដែលមានបច្ចុប្បន្នមានវ័យ ៥១ឆ្នាំជាអតីតខ្សែការពារដែនបានជួយក្រុមមាន់គកបារាំងបំបែកកំណត់ត្រាពិភព លោកតាមរយៈឈ្នះជើងឯក World Cup 1998 ក្នុងទឹកដីរបស់ខ្លួន ក្រោយបំបាក់គូប្រជែងសាំបាប្រេស៊ីល ក្នុងលទ្ធផល ៣ទល់នឹង០ នៅវគ្គផ្តាច់ព្រ័ត្រជាមួយអតីតមិត្តរួមក្រុម Zinedine Zidane។ ក្រោយមក ២ឆ្នាំ លោក Christian Karembeu ក៏បន្តជួយមាន់គកបារាំងឈ្នះជើងឯកពានរង្វាន់ជើងឯកប្រចាំទ្វីបអឺរ៉ុប UEFA Euro បន្ទាប់ពីយកឈ្នះគូប្រជែងអាសូរីអ៉ីតាលីវគ្គផ្តាច់ព្រ័ត្រ នៅពេលប៊ែលហ្សិក និងហូឡង់ធ្វើសហម្ចាស់ផ្ទះ និងពានអន្តរទ្វីប FIFA Confederations Cup 2001 ជាមួយបារាំងទៀតដែរ នៅក្នុងពេលបង្ហាញខ្លួនសរុបចំនួន ៥៣ប្រកួត និងរកបាន ១គ្រាប់នៅពេលមាន់គកបំបាក់រ៉ូម៉ានី ៣ទល់នឹង១។</p>
          
        <img src="image_source/fifa3.png" class="in-article-img">
      </section>
    </div>
    
    <div class="ads column" id="right-row">
        <img src="image_source/ad3.png" >
        <img src="image_source/ad4.png" >
    
    </div>

  </div>
      
  </body>
</html>